.left-sidebar {
  position: fixed;
  width: 100%;
}

.side {
  background: #ebebeb;
  padding-top: 70px;
  border: 1px solid #c8c7c7;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.15)!important;
}

#menu {
  width: 100%;
}

#menu li {
  width: 100%;
  border-radius: 10px;
  margin: 5px 0;
}

#menu #submenu1 li a{
  padding: 11px;
}

#menu #submenu1 li {
  margin: 5px 0;
}

#menu li a {
  padding:7px;
}

#menu li a:hover {
  background: #e033ab;
  color: white;
}

a, .nav-link:focus {
  color: black;
}

.material-icons {
  position: relative;
  bottom: -6px;
}