<aside class="left-sidebar">

    <nav class="sidebar-nav">
        <ul id="sidebarnav">
            <!-- First level menu -->
            <li class="sidebar-item" >
                <a class="sidebar-link" placeholder="Right" [routerLink]="['/admin/usermgt']"><i class="pi pi-home"></i></a>
            </li>
            <!-- <li class="sidebar-item" *appAllowedAccess="'MenuHome'">
                <a class="sidebar-link" *ngIf="roles.includes('Trainee') && (!roles.includes('Super Administrator') || !roles.includes('Administrator'))" [pTooltip]="getToolTip('Home')"  placeholder="Right"><i class="pi pi-home" [routerLink]="['/training/program/pillars']"></i></a>
                <a class="sidebar-link" *ngIf="roles.includes('Super Administrator') || roles.includes('Administrator')" [pTooltip]="getToolTip('Learning Material')" placeholder="Right" [routerLink]="['/training/program/pillars']"><i class="pi pi-bars"></i></a>
            </li>
            <li class="sidebar-item" *appAllowedAccess="'MenuPendingEnrollments'">
                <a class="sidebar-link"  [pTooltip]="getToolTip('Pending Enrollments')" placeholder="Right"><i class="pi pi-clock" [routerLink]="['/admin/pendingapproval']"></i></a>
            </li>
            <li class="sidebar-item" *appAllowedAccess="'MenuApprovedEnrollments'">
                <a class="sidebar-link"  [pTooltip]="getToolTip('Approved Enrollments')" placeholder="Right"><i class="pi pi-id-card" [routerLink]="['/admin/approval']"></i></a>
            </li>
            <li class="sidebar-item" *appAllowedAccess="'MenuCalendar'">
                <a class="sidebar-link"  [pTooltip]="getToolTip('Calendar')" placeholder="Right"><i class="pi pi-calendar" [routerLink]="['/calender']"></i></a>
            </li> -->
        </ul>
    </nav>

</aside>