.wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .wrapped-div {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    width: 90%;
    position: relative;
    padding: 0px;
    // -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    // box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  }

  /* Tabs */
.tab-header{
    text-align: center;
}

  .tab-header h2.active {
    color: #000;
    border-bottom: 4px solid #C33DB5;
  }

  .tab-header h2 {
    text-align: center;
    font-size: 130%;
    font-weight: 600;
    display:inline-block;
    padding: 7% 10% 1%;
    cursor: pointer;
    color: #8d9299;
    border-bottom: 2px solid #8d9299;
  }

  .tab-header h2:focus {
      outline: none;
  }
  
button {
  position: fixed;
  right: 40px;
  bottom: 40px;
  background: #ff69b4;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: white;
}

button:hover {
  background: #C33DB5;
  color:white;
}

.material-icons{
  padding-top: 4px;
}
  