<div class="wrapper">
    <div class="card shadow col-md-4 col-sm-4">
        <div class="card-body">
            <div><b>Event name:</b> Test event</div>
            <div><b>Description:</b> Test description. Test description. Test description</div>
            <div><b>Location:</b> Colombo 7</div>
            <div><b>From:</b> 27 Jan, 2022 10:00AM</div>
            <div><b>To:</b> 28 Jan, 2022 4:00PM</div>
            <button class="btn">Join</button>
        </div>
    </div>
    <div class="card shadow col-md-4 col-sm-4">
        <div class="card-body">
            <div><b>Event name:</b> Test event</div>
            <div><b>Description:</b> Test description</div>
            <div><b>Location:</b> Colombo 7</div>
            <div><b>From:</b> 27 Jan, 2022 10:00AM</div>
            <div><b>To:</b> 28 Jan, 2022 4:00PM</div>
            <button class="btn">Join</button>
        </div>
    </div>
    <div class="card shadow col-md-4 col-sm-4">
        <div class="card-body">
            <div><b>Event name:</b> Test event</div>
            <div><b>Description:</b> Test description. Test description. Test description. Test description.</div>
            <div><b>Location:</b> Colombo 7</div>
            <div><b>From:</b> 27 Jan, 2022 10:00AM</div>
            <div><b>To:</b> 28 Jan, 2022 4:00PM</div>
            <button class="btn">Join</button>
        </div>
    </div>
    <div class="card shadow col-md-4 col-sm-4">
        <div class="card-body">
            <div><b>Event name:</b> Test event</div>
            <div><b>Description:</b> Test description</div>
            <div><b>Location:</b> Colombo 7</div>
            <div><b>From:</b> 27 Jan, 2022 10:00AM</div>
            <div><b>To:</b> 28 Jan, 2022 4:00PM</div>
            <button class="btn">Join</button>
        </div>
    </div>
    <div class="card shadow col-md-4 col-sm-4">
        <div class="card-body">
            <div><b>Event name:</b> Test event</div>
            <div><b>Description:</b> Test description</div>
            <div><b>Location:</b> Colombo 7</div>
            <div><b>From:</b> 27 Jan, 2022 10:00AM</div>
            <div><b>To:</b> 28 Jan, 2022 4:00PM</div>
            <button class="btn">Join</button>
        </div>
    </div>
</div>