.card-body div {
    padding: 10px;
}

.card {
    margin: 50px 10px;
    display: inline-block;
    width: 380px;
    padding-bottom: 70px;
    position: relative;
}

.card:hover {
    background-color: #ededed;;
}

.card button {
    position: absolute;
    bottom: 25px;
    right: 30px;
    background: #e033ab;
    color: white;
}

.wrapper {
    margin: 0 -145px;
    display: flex;
    flex-wrap: wrap;
}