<header>
    <div class="container" >
      <nav class="navbar navbar-expand-lg navbar-light">
          <a routerLink=""><img src="./assets/volentLogo.jpg" width="70px" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a routerLink="" class="nav-link">Features</a></li>
              <li class="nav-item"><a routerLink="" class="nav-link">Pricing</a></li>
              <li class="nav-item"><a routerLink="" class="nav-link">About Us</a></li>
              <li class="nav-item"><a routerLink="" class="nav-link">Contact Us</a></li>
              <li class="nav-item"><a class="nav-link"><button class="btn" (click)="GoToLoginPage()">Sign In</button></a></li>
            </ul>
          </div>
      </nav>
    </div>
</header>
 
<div class="m_img" style="background: #fff url(./assets/main_img.jpeg) fixed no-repeat center; background-size: cover;">
<div class="container"><span class="on_txt_mImg">Every Good <br>Act Is A Charity</span></div>
</div>
<div class="container" style="margin-top: 50px;">
  <div class="head_txt1">Volent
    <span>One for all all for one</span>
  </div>
<div class="txt1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at elit nunc. Vestibulum tincidunt tellus vitae ipsum iaculis efficitur. Phasellus eget erat laoreet, porta tortor ac, ultrices ipsum. Vestibulum blandit venenatis nisi, eu dignissim velit dapibus in. Integer eleifend enim ac vehicula aliquam. Aenean fermentum lectus eget accumsan accumsan. Sed vel congue erat. Nam ultrices ipsum turpis, eget porta tellus fringilla nec. Morbi non tellus finibus, consequat lacus at, varius dui. Ut ultrices augue tortor, non maximus neque tincidunt a. Donec sodales elit a tortor vehicula rutrum. Nunc dapibus id orci sed dictum.
<br><br>
  In porta hendrerit mi at egestas. Aliquam luctus ante eget blandit cursus. Morbi et purus urna. Donec tempus vulputate massa ac sollicitudin. Etiam sed erat turpis. Nullam et dolor nec ante porta finibus in non urna. Nullam et fermentum ipsum. Ut luctus nulla ac sapien porttitor, eget commodo neque scelerisque. Maecenas laoreet arcu sed urna egestas sodales.
</div>
<br><br>
<button class="button-53" role="button">Sign Up</button>

</div>
 
<div class="footer-bottom_content_box ">© Copyright 2022 by Volent</div>


