<header>
    <div class="container" >
      <nav class="navbar navbar-expand-lg navbar-light">
          <a routerLink=""><img src="./assets/volentLogo.jpg" width="70px" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a routerLink="" class="nav-link">Features</a></li>
              <li class="nav-item"><a routerLink="" class="nav-link">Pricing</a></li>
              <li class="nav-item"><a routerLink="" class="nav-link">About Us</a></li>
              <li class="nav-item"><a routerLink="" class="nav-link">Contact Us</a></li>
              <li class="nav-item"><a class="nav-link"><button class="btn" (click)="GoToLoginPage()">Sign In</button></a></li>
            </ul>
          </div>
      </nav>
    </div>
</header>
 


